extends layout

block scripts
  link(rel='stylesheet', href='/static/css/vuln.css')
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='/static/js/vuln.js')
  script(src='/static/js/vuln_d3.js')
  title Vulnerability Visualization | #{APP_NAME}

block content
   div#content 
