extends layout

block scripts
  link(rel='stylesheet', href='/static/css/vuln.css')
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='/static/js/vuln.js')
  script(src='/static/js/vuln_d3.js')
  title Vulnerability Visualization | #{APP_NAME}

block content
    div#content 
    div#stats
      div.ui.three.statistics
        div.statistic
          div.value 
            i.database.icon
            span 10,067,013
          div.label Total Database Entries
        div.statistic
          div.value 
            i.tag.icon 
            span 630,484
          div.label Reported CVEs
        div.statistic
          div.value 
            i.archive.icon
            span 72,202
          div.label Unique Software
